
.uk-section {
    background-color: #584125;
}

.uk-section h2 {
    color: white;
    font-weight: bolder;
}

.general-mapa {
    margin-top: 60px;
}
.mapa-info {
    text-align: left;
    padding: 20px;
}

.mapa-info h2 {
    color: white;
    margin-bottom: 15px;
}

.mapa-info p {
    color: rgba(255, 255, 255, 0.9);
    margin: 8px 0;
}