body{
    background-color: #F5F5F5;
}
.info-cards {
    text-align: left;
}

.info-cards h1 {
    font-size: 34px;
    color: #C98A40;
    margin: 40px 0 0 0 ;
    font-weight: bold;
}

.info-cards h2 {
    font-size: 29px;
    margin-top: 10px;
}

.cards {
    padding: 0 40px;
    margin: 40px;
    align-items: center;
    display: flex;
    justify-items: center;
    gap: 0;
}

.home-card {
    max-width: 300px;
    max-height: 400px;
    min-height: 400px;
    min-width: 22rem;
}

.home-card p {
    font-size: 16px;
    text-align: justify;
}

.home-card h3 {
    color : #C98A40 !important;
}

