.titulo-productos {
    text-align: center;
    color: #C98A40;
    font-weight: bold;
    font-size: 55px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.products {
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 100px;

}

.product-card {
    border-radius: 15px;
    max-height: 600px;
    min-height: 480px;
    max-width: 400px;
}

.uk-card-title{
    color: #C98A40 !important;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 35px;
}

.product-card p{
    color: #584125;
    margin-top: 0px;
}

.product-card img {
    height: 250px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}


.producto {
    width: auto;
}

.precio-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.precio-button h2 {
    color: #584125;
    font-weight: bold;
    margin: 0;
    font-size: 27px;
}

.precio-button button {
    border-radius: 20px;
    background-color: #C98A40;
    font-weight: bold;
    color: #584125;
}

.modal-custom-grid {
    padding: 0;
    overflow: hidden;
    max-width: 600px;
    width: 90%;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.imagen-modal-contenedor {
    height: 100%;
    width: 40%;
    display: flex;
}

.imagen-modal-contenedor img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.uk-modal-title {
    color: #C98A40;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
}

.modal-content-right p {
    color: #584125;
    font-size: 20px;
    margin-top: 0;
    padding: 0;
}

.modal-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
    
}

